/// All colors in standard variable format.
///
/// @group color

$redish: #d92900;

$white: #FFFFFF;
$charcoal: #323332;
$ncr-green: #3FAE29;
$moss: #42563E;
$royal-blue: #205488;
$royal-blue-light: #2a6aa9;
$ashes: #fafafa;
$smoke: #EBEDEB;
$pewter-light: #DCDEDC;
$pebble: #979797;
$stone: #B1B3B1;
$rock: #727372;
$sky: #EEF5FC;
$lt-blue: #0091EA;
$rain: #DAE9F7;
$lake: #C2DAF2;
$river: #416D99;
$mantis: #70BF60;
$pistachio: #B3D550;
$straw: #E8D73F;
$black: #000000;
$pewter: #535453;
$shamrock: #21850D;
$fire: #B50010;
$pumpkin: #FFBB35;
$orange: #E65100;
$gold: #E69900; 
$grass: #4CBB36;
$rose: #FF7A75;
$sun: #FFBB35; 
$mint: #E2F5DC;
$teal: #009688;
$severity-purple: #9C78B5;
$severity-blue: #21ECFF;
$severity-red: #FF7A75;
$severity-orange: #9C78B5;
$severity-teal: #50E3C2;
$severity-green: #B8E986;