
.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;

	.inner {
		text-align: right;
		padding: 25px;
	}

	.logo {
		position: absolute;
		top: 25px;
		left: 25px;
		font-weight: bold;
		font-size: 2em;

		i {
			color: $redish;
		}
	}

	label {
		color: #000;
		font-weight: bold;
		margin-right: 15px;

		&.last {
			margin-right: 0px;
		}

		i {
			color: #999;
			display: inline-block;

			&.fa-heart {
				color: $redish;
			}
		}
	}
}