/// All colors in standard variable format.
///
/// @group color

$layout_width:  1200px;

$white: #FFFFFF;
$charcoal: #323232;
$smoke: #f2f2f2;

// Gold
$gold: #e0d2c5;
$rose-gold: #d8c7b7;
$golden: #e8ddd4;

$link-default: $rose-gold;
$link-hover: $gold;
